.card_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 30px * 2);

  .title {
    margin: 0;
    font-weight: 400;
    text-align: center;
  }

  .figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    img {
      width: 75%;
      max-width: 800px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      margin-bottom: 40px;
    }

    figcaption {
      font-size: 1.75rem;
      text-align: center;
      font-weight: 400;
      width: 75%;
    }
  }

  .text {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 400;
    width: 80%;
  }
}
